<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>454855132959-849meqo48enmlgaj5alu086r3t06ftom.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.454855132959-849meqo48enmlgaj5alu086r3t06ftom</string>
	<key>API_KEY</key>
	<string>AIzaSyC1Cm-lDFQQa6KrfCKgbO7yT3jGAbziB60</string>
	<key>GCM_SENDER_ID</key>
	<string>454855132959</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.weatherApp</string>
	<key>PROJECT_ID</key>
	<string>weather-app-d2611</string>
	<key>STORAGE_BUCKET</key>
	<string>weather-app-d2611.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:454855132959:ios:d0d9ded1d9ee117ad8d22a</string>
	<key>DATABASE_URL</key>
	<string>https://weather-app-d2611.firebaseio.com</string>
</dict>
</plist>